# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Conda environments
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pth
*.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Personal
train_test_eval.py
README.txt